header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 1em;
  box-shadow: 0 0 10px #0004;
}
h1 {
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
  color: #d27c2c;
  font-size: 2em;
}
img {
  max-width: 100px;
}

